/*body{
	font-family: "geneva",arial,sans-serif;
	text-align: center;
	color: #C2728C;
}

#header{
	font-size: x-large;
	padding-top: 25px;
	padding-bottom: 25px;
	color: #C2728C;
}

#funStuff{

}

#aboutMe {
	background-color: #C2728C;
	width: auto;
	color: white;
}

.description {
	font-size: small;
}

#courses {
	width: auto;
}*/

.description {
	font-size: small;
}
.idea{
	color: #C2728C;
	font-size: medium;
}

.ideaPlan{

}
