.description {
	font-size: small;
}
.idea{
	color: #C2728C;
	font-size: medium;
	font-weight: bold;
}

h1{
	color: #C2728C;
	font-size: 350%;
}

#content{
	max-width: 500px;
	margin: 0 auto;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #C2728C;
}

.photography {
    width: auto;
    height: 300px;
    border: 1px solid #C2728C;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.photography img {
	height: 290px; 
	margin: 5px;
}

