body{
	background-color: rgb(128, 154, 128);
	width: 725px;
	font-family: "geneva",arial,sans-serif;
	background-image: none;
	background-repeat: no-repeat;
}

.content{
	background-color: rgb(110, 129, 110);
}

a{
	color: white;
}

#headImg{
	margin-left: 160px;
}

/* Navigation Menu */
#navigationSpace{
	display: inline-block;
	margin-left: 12px;
	float: left;
	width: 142px;
	height: 542px;
}

#navigationSpace .subtitle{
	background-color: rgb(97,133,111);
	color: white;
	font-size: 12px;
	padding-left: 5px;
	margin-top: 2px;
	margin-bottom: 4px;
	height: 10px;
}

#navigationSpace .content{
	padding-top: 10px;
	padding-left: 6px;
	padding-bottom: 126px;
}

#navigationSpace span{
	display: block;
	color: white;
	padding-bottom: 4px;
}

#navigationSpace .navHead1{
	font-size: 12px; 
}

#navigationSpace .navHead2{
	font-size: 10px;
	padding-left: 10px;
}

#search{
	padding-top: 10px;
}

#searchBox{
	width: 60px;
}


/*Main Content*/
#mainContent{
	padding-left: 155px;
	margin-left: 4px;
	margin-top: 2px;
	width: 578px;
	height: 300px;
}

#mainContent .subtitle{
	background-color: rgb(97,133,111);
	color: white;
	font-size: 12px;
	padding-left: 20px;
	padding-right: 444px;
	height: 10px;
}

#mainContent .content{
	font-size: 10px;
	padding-top: 4px;
	margin-top: 2px;
	width: 570px;
	height: 292px;
}

#mainContent #contentItem1{
	margin-top: 5px;
	margin-left: 30px;
	float: left;
	width: 25%;
}

#mainContent #contentItem2{
	margin-top: 5px;
	margin-left: 30px;
	float: left;
	width: 27%;
}

#mainContent #contentItem3{
	margin-top: 5px;
	margin-left: 30px;
	float: left;
	width: 25%;
}

#mainContent .contentHyperlink{
	margin-top: 4px;
}

#mainContent .contentItem span{
	display: block;
	color: rgb(255,254,206);
}

#mainContent #bottomLink{
	float: left;
	padding-left: 420px;
}

/*Subcontent*/
#subcontent{
	padding-left: 155px;
	margin-left: 4px;
	margin-top: 18px;
	width: 570px;
	height: 215px;
}

#subcontent .subtitle{
	background-color: rgb(97,133,111);
	color: white;
	font-size: 12px;
	margin-bottom: 3px;
	padding-right: 439px;
	padding-left: 20px;
	height: 10px;
}

#subcontent #row1{
	font-size: 8px;
	margin-left: 16px;
	margin-right: 16px;
	margin-top: 3px;
	width: 552px;
	height: 105px;
}

#subcontent #row2{
	font-size: 8px;
	margin-left: 16px;
	margin-right: 16px;
	width: 552px;
	height: 105px;
}

.subcontentItem{
	padding-top: 10px;
	float: left;
	width: 180px;
	height: 80px;
}

.subcontentItem img{
	padding-bottom: 20px;
	margin-right: 8px;
	float: left;
	height: 60px;
	width: 55px;
}

.subcontentItem a{
	font-size: 12px;
	margin-right: 22px;
	float: left;
}

.subcontentDescription{
	color: rgb(255,254,206);
	font-size: 14px;
}


/*footer*/
#footerSpace{
	font-size: 10px;
	padding-left: 170px;
	margin-left: 16px;
	margin-top: 25px;
}

#footerSpace span{
	color: rgb(255,254,206);
}

/*Extra Stuff (Dev button)*/
#extra{
	margin-top: 5px;
	margin-bottom: 10px;
	margin-left: 10px;
}





